#masthead {
    position: relative;
    margin: 0;
    border-radius: 0;
    /*background: url("./wallpaper.jpg") no-repeat center;*/
    /*background-size: cover;*/
}

#masthead {
    min-height: 500px;
}

#masthead-grid {
    position: relative;
    top: 200px;
}

#masthead-grid .name {
    font-size: 1.75em;
}

#semantic-ui-logo {
    margin-left: 1em;
    margin-bottom: 7px;
}

.bottom-aligned {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.right-aligned {
    justify-content: flex-end;
}

@media only screen and (max-width: 700px) {
    #masthead {
        min-height: 300px;
    }

    #masthead-grid {
        position: relative;
        top: 100px;
    }

    #masthead-grid .name {
        font-size: 1em;
    }
}