#masthead {
    position: relative;
    margin: 0;
    border-radius: 0;
}

#masthead .ui.container {
    position: relative;
    min-height: 600px;
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
}